CSR_DOCUMENTS_DIR=/data/documents
CSR_INDEX_DIR=/data/index
CSR_CONFIG_DIR=/data/config
CSR_MODELS_DIR=/data/models
CSR_OLLAMA_URL=http://127.0.0.1:11434
CSR_MAX_FILE_SIZE=52428800
CSR_INFERENCE_TIMEOUT=300
CSR_ALLOWED_EMBED_ORIGINS=http://localhost:8080
CSR_AZURE_AI_SEARCH_ENDPOINT=
CSR_AZURE_AI_SEARCH_INDEX=csr-assist-documents
CSR_AZURE_AI_FOUNDRY_ENDPOINT=
CSR_AZURE_AI_FOUNDRY_DEPLOYMENT=
CSR_AZURE_AI_IDENTITY_CLIENT_ID=
CSR_AZURE_AI_TIMEOUT=60
