CSR_DOCUMENTS_DIR=/data/documents
CSR_INDEX_DIR=/data/index
CSR_CONFIG_DIR=/data/config
CSR_MODELS_DIR=/data/models
CSR_OLLAMA_URL=http://127.0.0.1:11434
CSR_MAX_FILE_SIZE=52428800
CSR_INFERENCE_TIMEOUT=300
CSR_ALLOWED_EMBED_ORIGINS=http://localhost:8080
